#main{
    display: flex;
    #pause-button-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 10vw;
        button{
            background-color: #df9903;
            border: none;
            border-radius: 100%;
            padding: 20px 23px;
            //box-shadow: inset 3px 3px 3px 3px rgba(255, 255, 255, 0.5), inset -3px -3px 3px 3px rgba(0, 0, 0, 0.5);
            box-shadow: inset 5px 2px 3px 3px rgba(255, 255, 255, 0.5), inset -3px -2px 3px 3px rgba(0, 0, 0, 0.5);
            i{
                font-size: 4vw;
                color: #ff6490;
            }
        }
    }
    .instructionsImg{
        background-image: url(../resources/instrucciones.png);
        background-size: cover;
    }
    .game{
        height: 85vh;
        border: 20px solid #00ccff;
        margin-left: -2px;
        border-radius: 20px;
        #score{
            position: absolute;
            top: 7vw;
            left: 12vw;
            font-size: 20px;
            color: white;
            font-family: Arial, sans-serif;
            z-index: 1000;
            h1{
                font-size: 2vw;
                color: #fe9c00;
            }
            h4{
                background-color: black;
                font-size: 1.5vw;
                border: solid #fe9c00 3px;
            }
        }
        #timeContainer{
            position: absolute;
            top: 7vw;
            left: 44vw;
            font-size: 4vw;
            color: white;
            font-family: Arial, sans-serif;
            z-index: 1000;
            #timeInstructions{
                color: red;
                font-size: 4vw;
            }
            #time{
                display: none;
                font-size: 4vw;
                color: rgb(103, 40, 175);
            }
        }
        #endGame{
            display: none;
            position: absolute;
            top: 18vw;
            left: 25vw;
            text-align: center;
            color: white;
            h1{
                font-size: 70px;
            }
            .gameOver{
                color: #df9903;
            }
        }
    }
    .pause-container{
        .pause-body{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            height: 80vh;
            #title{
                background-color: #02c7f3;
                padding: 3px 50px;
                z-index: 1;
                border-radius: 20px;
                box-shadow: inset 20px 20px 15px 0px rgba(255, 255, 255, 0.2), inset -20px -20px 15px 0px rgba(0, 0, 0, 0.2);
                h1{
                    font-size: 7vw;
                    color: #ffcd0b;
                }
            }
            #options{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                background-color: #d5005c;
                width: 45vw;
                padding-top: 90px;
                padding-bottom: 25px;
                margin-top: -35px;
                border-radius: 40px;
                box-shadow: inset 20px 20px 15px 0px rgba(255, 255, 255, 0.2), inset -20px -20px 15px 0px rgba(0, 0, 0, 0.2);
                .orangeButton{
                    text-decoration: none;
                    font-size: 2.5vw;
                    width: 50%;
                    margin-bottom: 5vh;
                    border: none;
                    padding: 5px 15px;
                    border-radius: 20px;
                    text-align: center;
                }
            }
        }
    }
}